@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

#root {
  flex: 1;
  display: flex;
}

.app {
  flex: 1;
}

.hero-section {
  font-family: 'Jomolhari';
}

.hero-background {
  background-image: url('../public/assets/images/image 4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Popular pics component */

.popular-picks-btn#bags {
  background-image: url('../public/assets/images/Group 7.png');
}

.popular-picks-btn#accessories {
  background-image: url('../public/assets/images/Group 18.png');
}

.popular-picks-btn#shoes {
  background-image: url('../public/assets/images/Group 11.png');
}

.btns-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.popular-picks-btn {
  height: 550px;
  width: 400px;
  background-position: center;
  background-size: cover;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px black;
  margin-bottom: 4rem;
}


/* Must gift component */

.must-gift-section {
  width: calc(100vw - 15px);
  /* overflow-x: scroll; */
}

.must-gift-container{
  display: flex;
}

.must-gift-btn {
  height: 300px;
  width: 300px;
}

#slider {
  height: auto;
}

/* Advert Component */
.advert-section {
  width: 100%;
}

.advert-image {
  height: 200px;
  width: auto;
  object-fit: cover;
}

/* ProductCard Component */

.product-card {
  height: 500px;
  width: 300px;
  margin-right: 20px;
}

.card-image {
  width: 300px;
  height: 400px;
  object-fit: cover;
}

.details-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 10px;
  font-family: 'Julius Sans One', sans-serif;
}

.view-more-btn {
  letter-spacing: 0.1rem;
}

.add-cart-icon {
  color: rgb(41, 41, 233);
  font-size: 1.5rem;
}


.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-transform: uppercase;
}

.description {
  font-weight: 400;
}

/* Footer Component */

.footer-logo {
  width: auto;
  height: 50px;
}

.footer-cotainer {
  border-bottom: 1px dotted whitesmoke;
  padding-bottom : 1rem;
}

/* Navbar component */
.logo-link {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 1rem;
}

.nav-logo {
  width: 60%;
  height: auto;
}

.links-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4rem;
  gap: 3rem;
}

.nav-link {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}

/* Product detail */

.product-detail-container {
  height: 80vh;
  width: 90vw;
  padding: 1rem;
  margin: 1rem auto;
}

.image-col-container {
  height: 100%;
  width: 200px;
}

.image-col-img {
  height: 150px;
  width: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.main-detail-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin-left: 2rem;
}

.product-name{
  text-transform: uppercase;
  width: 100%;
  letter-spacing: 0.5rem;
}

/* order now component */
.form-input:focus {
  border: none;
}

.form-input {
  width: 600px;
}

.send-msg-btn {
  letter-spacing: 0.2rem;
  color: blue;
  border: 1px blue solid;
}