@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
}

#root {
  flex: 1;
  display: flex;
}

.app {
  flex: 1;
}

.hero-section {
  font-family: 'Jomolhari';
}

.hero-background {
  background-image: url('../public/assets/images/image 4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Popular pics component */

.popular-picks-btn#bags {
  background-image: url('../public/assets/images/Group 7.png');
}

.popular-picks-btn#accessories {
  background-image: url('../public/assets/images/Group 18.png');
}

.popular-picks-btn#shoes {
  background-image: url('../public/assets/images/Group 11.png');
}


.popular-picks-btn {
  height: 400px;
  background-position: center;
  background-size: cover;
}


/* Must gift component */

.must-gift-btn {
  height: 300px;
  width: 300px;
}

#slider {
  height: 400px;
}

/* Advert Component */

.advert-image {
  height: 200px;
  width: ;
  object-fit: cover;
}

/* ProductCard Component */

.product-card {
  height: 400px;
  width: 300px;
}